# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson


#erb/html
#ActionView::Helpers::TextHelper
  '.text.html.ruby, .text.html.erb, .text.html.haml':
    'Simple Format':
      'prefix': 'simple_format'

    'Simple Format Div':
      'prefix': 'simple_format_div'
      'body': 'simple_format(my_text, {}, wrapper_tag: \"div\")'

    'Simple Format':
      'prefix': 'sf'
      'body': 'simple_format'

    'Concat':
      'prefix': 'concat'

    'Highlight':
      'prefix': 'highlight'
      'body': 'highlight(\'text\', \'phrases\',  options = {})'

    'Pluralize':
      'prefix': 'pluralize'
      'body': 'pluralize(count, singular, plural = nil)'

    'Truncate':
      'prefix': 'truncate'
      'body': 'truncate(text, options = {}, &block)'

    'Word Wrap':
      'prefix': 'word_wrap'
      'body': 'word_wrap(text, options = {})'

#ActionView::Helpers::OutputSafetyHelper
    'Raw':
      'prefix': 'raw'
      'body': 'raw(stringish)'

    'Safe Join':
      'prefix': 'safe_join'
      'body': 'safe_join(array, tag_separate)'

#ActionView::Helpers::DateHelper
    'date_select':
      'prefix': 'date_select'
      'body': 'date_select'

    'datetime_select':
      'prefix': 'datetime_select'
      'body': 'datetime_select'

    'distance_of_time_in_words':
      'prefix': 'distance_of_time_in_words'
      'body': 'distance_of_time_in_words'

    'distance_of_time_in_words_to_now':
      'prefix': 'distance_of_time_in_words_to_now'
      'body': 'distance_of_time_in_words_to_now'

    'select_date':
      'prefix': 'select_date'
      'body': 'select_date'

    'select_datetime':
      'prefix': 'select_datetime'
      'body': 'select_datetime'

    'select_day':
      'prefix': 'select_day'
      'body': 'select_day'

    'select_hour':
      'prefix': 'select_hour'
      'body': 'select_hour'

    'select_minute':
      'prefix': 'select_minute'
      'body': 'select_minute'

    'select_month':
      'prefix': 'select_month'
      'body': 'select_month'

    'select_second':
      'prefix': 'select_second'
      'body': 'select_second'

    'select_time':
      'prefix': 'select_time'
      'body': 'select_time'

    'select_year':
      'prefix': 'select_year'
      'body': 'select_year'

    'time_ago_in_words':
      'prefix': 'time_ago_in_words'
      'body': 'time_ago_in_words'

    'time_select':
      'prefix': 'time_select'
      'body': 'time_select'

    'time_tag':
      'prefix': 'time_tag'
      'body': 'time_tag'

#ActionView::Helpers::CacheHelper
    'cache':
      'prefix': 'cache_method'
      'body': '<% cache project do %>\n\n<% end %>'

    'cache_fragment_name':
      'prefix': 'cache_fragment_name'
      'body': 'cache_fragment_name'

    'cache_if':
      'prefix': 'cache_if'
      'body': '<% cache_if admin?, project do %>\n\n<% end %>'

    'cache_unless':
      'prefix': 'cache_unless'
      'body': '<% cache_unless admin?, project do %>\n\n<% end %>'
